* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(360deg, #b4182d, black);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background: black;
  padding: 12px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
    margin-right: 150px;
    display: flex;
    gap: 20px;
}
nav a {
  color: #b4182d;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header h2 {
  padding-left: 50px;
  color: #b4182d;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
nav a:hover {
  color: #ffffff;
}
.about {
  min-height: calc(100vh - 230px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  max-width: 800px;
}
.about-content h1 {
  margin-bottom: 5px;
  font-size: 50px;
  color: #fda481;
}
.about-content h4 {
  margin-bottom: 25px;
  color: #fda481;
}
.about-content p {
  display: flex;
  text-align: justify;
  color: #fda481;
}
.contact-info {
  display: flex;
  text-align:  justify;
  gap: 40px;
  margin-top: 13px;
  color: #fda481;
  opacity: 0.3;
  font-size: 12px;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 2px;
}